/* PRIMENTO PREMIUM PORTFOLIO STYLESHEET 
    Document   : layout.css
    Created on : April, 2012
    Author     : Kobus Swartz
    Description: Stylesheet for index.html and blog-post.html.

All sections are marked to make it easier to navigate and change the css.
The first section of the css file contains the basic styles for the theme, followed by the user styles for the specific content.
At the bottom you will find the 'helper' section, which contaibs classes to hie and mark certain elements across the Primento Theme
*/

/* Basic HTML Elements for Primento */

body {
  color: #312b2b;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  background: url("../img/bg-spine.png") #312b2b fixed repeat;
  font-size: 16px;
  opacity: 0.9999;
}

* {
  outline: none;
}

#welcome .inner, #about-me .inner, #my-work .inner, #method .inner, #blog .inner, #contact .inner #footer .inner {
  padding: 0 10px 10px 10px;
  margin: 0;
}
/* ===== Font colors for  dark and light boxes ===== */
.dark {
  color: #312b2b;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.light {
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ===== Heading Sizes ===== */

h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

/* ===== Heading Styles ===== */

h1, h2, h3, h4, h5, h6 {
  font-family: "Roadstar-Italic";
  font-weight: normal;
}

/* =====  Bottom Spacing for all H1 Headings ===== */

.inner h1 {
  margin-bottom: 20px;
}

/* ===== Header Styles ===== */

#header {
  position: fixed;
  background: url("../img/header-background.png") #fff repeat-x;
  height: 143px;
  width: 100%;
  z-index: 1001;
  border-bottom: 1px solid #aeaeae;
  font-family: "Roadstar-Italic";
}

#header .inner {
  position: relative;
  margin: 0 auto;
  width: 1000px;
}

#header .logo {
  background: url("../img/logo.png");
  background-size: 150px 226px;
  position: absolute;
  left: 422px;
  height: 226px;
  width: 150px;
  display: block;
}

/* ===== Navigation Styles ===== */

#navigation {
  font-size: 36px;
  width: 900px;
  margin: auto;
  position: relative;
  padding-top: 42px;
  padding-left: 150px;
}

ul.main-menu {
  padding-left: 3px;
}

ul.main-menu li {
  display: inline;
  float: left;
  padding-left: 0px;
  padding-right: 40px;
}

ul.main-menu li.gap {
  padding-right: 160px;
}

#navigation a {
  color: #312b2b;
  text-decoration: none;
}

#navigation li a:active {
  color: #312b2b;
  text-decoration: none;
}

#navigation li a:hover {
  color: #4d4242;
  text-decoration: none;
}

#navigation a:visited {
  color: #312b2b;
  text-decoration: none;
}

/* ===== Nivo Slider Positioning ===== */  

#feature .inner {
  position: relative;
  margin: 0 auto;
  width: 980px;
  height: 300px;
  padding: 0;
}

/* ===== Styles For Main Sections ===== */

/* ===== Welcome Section at the top of the page ===== */

#welcome {
  background: url("../img/texture1.png") #231d1e repeat;
  padding-top: 200px;
}

#welcome .inner {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 650px;
}

#welcome .inner #home-office-label {
  background: url("../img/label.png") no-repeat;
  display: block;
  width: 653px;
  height: 212px;
  margin-top: 35px;
  margin-bottom: 50px;
  margin-left: 216px;
}

/* ===== About Me Section ===== */

#about-me {
  background: url("../img/texture1.png") #231d1e repeat;
  color: #fff;
}

#about-me .inner {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  display: block;
}

#about-me .inner .intro {
  overflow: hidden;
  margin-bottom: 50px;
}

#about-me .inner div a {
  color: #a6a6a6;
  text-decoration: underline;
  font-style: italic;
}

#about-me .inner .intro div {
  width: 700px;
  text-align: justify;
  margin: 0;
  display: inline-block;
}

#about-me .inner .intro img {
  float: left;
  margin-right: 20px;
  margin-top: 12px;
  border: 3px solid #fff;
  -webkit-transition: ima 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* My Skills Graph */

#about-me .inner #skills ul {
  color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0 0;
  float: left;
  border-right: 8px solid #505650;
  font-size: 12px;
  font-weight:  bold;
  width: 320px;
}

#about-me .inner #skills ul li span {
  float: right;
  font-weight: normal;
}

#about-me .inner #skills ul li {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-transition: all 0.50s ease-in-out;
  -webkit-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}

#about-me .inner #skills ul li:hover {
  opacity: 0.5;
}

/* ===== About Me Section - Skills ===== */

#skills ul li.html {
  background: url('../img/45-degree-lines.png') repeat-x #a21313;
  width: 300px;
}

#skills ul li.css {
  background: url('../img/45-degree-lines.png') repeat-x #251f1f;
  width: 280px;
}

#skills ul li.javascript {
  background: url('../img/45-degree-lines.png') repeat-x #a21313;
  width: 180px;
}

#skills ul li.php {
  background: url('../img/45-degree-lines.png') repeat-x #251f1f;
  width: 255px;
}

#skills ul li.photoshop {
  background: url('../img/45-degree-lines.png') repeat-x #a21313;
  width: 300px;
}

#skills ul li.dreamweaver {
  background: url('../img/45-degree-lines.png') repeat-x #251f1f;
  width: 280px;
}

#skills ul li.fireworks {
  background: url('../img/45-degree-lines.png') repeat-x #a21313;
  width: 180px;
}
#skills ul li.illustrator {
  background: url('../img/45-degree-lines.png') repeat-x #251f1f;
  width: 280px;
}

/* End My Skills Graph */


/* ===== About Me Section - Infographic ===== */

#about-me .inner .infographic {
  width: 265px;
  height: 270px;
  float: left;
  margin-left: 65px;
}

/* ===== About Me Section - Resume/Feature ===== */

#about-me .inner .resume {
  background: url("../img/feature-box.png") repeat;
  width: 264px;
  height: 270px;
  float: left;
  margin-left: 65px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 20px;
  text-align: center;
}

#about-me .inner .resume h2 {
  padding-top: 40px;
  margin: 0;
  line-height: 35px;
}

#about-me .inner .resume h4 {
  padding-top: 5px;
}

#about-me .inner .resume p {
  margin-top: 35px;
}

/* Red Button used across site */

.red-btn {
  background: #a21313;
  border: 1px solid #730b0b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 25px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #fff;
}

.red-btn:hover {
  background: #880f0f;
  border: 1px solid #a21313;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 25px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: #fff;
}

a.red-btn {
  color: #fff;
  text-decoration: none;
}

/* ===== My Work Section ===== */

#my-work {
  background: url("../img/texture2.png") #d6d6d6 repeat;
  color: #312b2b;
}

#my-work .inner {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 880px;
  display: block;
}

#my-work .gallery ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

#my-work .gallery ul li {
  background: #fff;
  float: left;
  border: 3px solid #fff;
  margin: 7px;
  -webkit-transition: ima 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#my-work .gallery ul li:hover {
  background: url("../img/view.png") no-repeat #fff;
  float: left;
  border: 3px solid #fff;
  margin: 7px;
  opacity: 1;
}

#my-work .gallery ul li span {
  opacity: 1;
  -moz-transition: all 0.50s ease-in-out;
  -webkit-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}

#my-work .gallery ul li span:hover {
  opacity: 0.2;
}

#my-work .gallery ul li p {
  background: url("../img/camera.png") right no-repeat;
  padding: 5px;
  margin: 0;
  color: #999;
}

/* ===== Method Section ===== */

#method {
  background: url("../img/texture2.png") #d6d6d6 repeat;
  color: #312b2b;
}

#method .inner {
  position: relative;
  margin: 0 auto;
  width: 980px;
  display: block;
}

#method .inner .workflow ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
}

#method .inner .workflow ul li {
  margin-right: 47px;
  margin-bottom: 50px;
  height: 262px;
}

#method .inner .workflow ul li img {
  float: left;
  margin-right: 20px;
}

#method .inner .workflow ul li div p {
  display: inline-block;
  text-align: justify;
  width: 680px;
}

#method .inner .workflow ul li div p {
  margin-bottom: 10px;
}

#method .inner .workflow h2 {
  color: #312b2b;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#method .inner .workflow p {
  padding: 0;
  margin: 0;
}

/* ===== Blog Section ===== */

#blog {
  background: url("../img/texture1.png") #231d1e repeat;
  color: #fff;
}

#blog .inner {
  position: relative;
  margin: 0 auto;
  width: 980px;
  height: 700px;
  display: block;
}

#blog .inner .posts p {
  margin-bottom: 40px;
}

#blog .inner .posts div#price-and-extras ul {
  float: right;
  width: 330px;
  margin: 5px 10px 0 0;
  padding-left: 0px;
}

#blog .inner .posts div#price-and-extras ul li {
  margin: 15px 10px 0 0;
  background: #a21313;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #730b0b;
  font-family: "Roadstar-Italic";
  font-size: 28px;
  padding: 6px 10px 0px 10px;
  list-style: none;
}

#blog .inner .posts div#price-and-extras ul li span {
  margin-right: 3px;
}

a.text-link {
  color: #d12828;
  text-decoration: none;
  font-style: italic;
}


/* ===== Contact Section ===== */

#contact {
  background: url("../img/texture2.png") repeat;
  color: #fff;
}

#contact .inner {
  position: relative;
  margin: 0 auto;
  width: 980px;
  height: 550px;
  display: block;
}

#contact .inner .details {
  margin-top: 60px;
  float: left;
  width: 350px;
}

#contact .inner .details ul {
  list-style-type: none;
  padding-left: 0;
  color: #7c7c7c;
}

#contact .inner .details ul li {
  line-height: 20px;
}

#contact .inner .details ul li span {
  color: #312b2b;
}

#contact .inner .social {
  padding-top: 20px;
  margin-left: 115px;
  width: 70px;
}

#contact .inner .social ul {
  list-style-type: none;
  padding-left: none;
}

#contact .inner .social ul li {
  float: left;
  padding-right: 10px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* Styles for Google Map using iFrames */

#contact .inner .map {
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 350px;
}

#contact .inner .map iframe{
  width: 600px;
  height: 350px; 
  border: 0; 
  overflow: hidden;
}
/* Go Up button at the bottom of the page */

#contact .inner .go-up {
  width: 110px;
  position: relative;
  margin: 0 auto;
}

#contact .inner .go-up img {
  margin-top: 40px;
}

/* =====  Footer =====*/

#footer {
  background: url("../img/footer-bg.png") #d6d6d6 repeat-x;
  height: 112px;
  color: #fff;
}

#footer .inner
 {
  height: 112px;
  position: relative;
  margin: 0 auto;
  width: 980px;
  padding-top: 10px;
}

#footer .inner .footer-logo {
  width: 216px;
  margin: auto;
}

#footer .inner .footer-links {
  float: left;
  width: 320px;
  text-align: center;
}

#footer .inner .rss {
  float: right; 
  width: 320px;
}

#footer .inner .rss p {
  background: url("../img/rss.png") top right no-repeat;
  height: 32px;
  float: right;
  padding-right: 37px;
}

/*===== Footer Links ===== */

#footer .inner a {
  color: #a21313;
  text-decoration: none;
}

#footer .inner .rss a {
  text-decoration: none;
  color: #fff;
}

/*===== Skyline Footer ===== */

#skyline-footer {
  background: url("../img/footer-pattern.png") #d6d6d6 repeat;
}

#skyline-footer .inner #skyline {
  background: url("../img/cologne-skyline.png") no-repeat;
  width: 950px;
  height: 251px;
  margin: auto;
  margin-top: 150px;
}

#skyline-footer .inner #skyline p {
  text-align: center;
  padding-top: 220px;
  color: #7c7c7c;
}
/* ===== Page Splitter Stiching - Dividing the content boxes ===== */

/* .splitter is used for the top black bottom grey sections */

.splitter {
  background: url("../img/splitter.png") #333 repeat-x;
  position: relative;
  margin: 0 auto;
  height:50px;
}

/* .splitter-up is used for the top grey bottom black sections */

.splitter-up {
  background: url("../img/splitter2.png") #333 repeat-x;
  height:50px;
}

/* .splitter-black is used to link the top black and bottom black sections, this is only used in the footer */

.splitter-black {
  background: url("../img/splitter-black.png") #333 repeat-x;
  height:50px;
}

/* ===== Top padding for each box section ===== */

span.about-me {
  padding-top: 162px;
}

span.my-work {
  padding-top: 162px;
}

span.method {
  padding-top: 162px;
}

span.blog {
  padding-top: 162px;
}

span.contact {
  padding-top: 162px;
}


/* ===== Helpers ===== */

/* .todo is used to apply a red border around sections you are working on and would like to return to at a later stage. */ 

.todo {
  border: 1px dashed #f00;
}

/* .hide is used to hide certain elements in the theme which you dont want to display, for example the resume section, search bars or any other class or id. */

.hide {
  display: none;
}


/* END OF LAYOUT.CSS */
